.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button{
    width: 20vw;
    height: 7vh;
    background-color: black;
    color: white;
}